---
const { href } = Astro.props;
---

<a href={href} target="_blank" role="link" class="inline-flex items-center text-lg font-medium text-[#00FFC8] dark:text-[#00FFC8] hover:text-[#00FFC8] dark:hover:text-[#00FFC8] hover:animate-pulse">
  <slot />
</a>